<module>
	<rawname>phpagiconf</rawname>
	<name>PHPAGI Config</name>
	<version>1.2.2</version>
	<type>tool</type>
	<category>System Administration</category>
	<menuitems>
		<phpagiconf>PHPAGI Config</phpagiconf>
	</menuitems>
	<depends>
		<module>manager ge1.0.4</module>
	</depends> 
	<changelog>
		*1.2.2* Changed categories
		*1.2.1* Fixed javascript error, removed unused script, bump for rc1
		*1.2* Create tmp files in /etc/asterisk, fixes ticket:1910
		*1.1* Removed old dependancy checking code, first 2.2 release
	</changelog>
	<location>release/2.3/phpagiconf-1.2.2.tgz</location>
	<md5sum>10407b881f66418c95aa564ed2becc10</md5sum>
</module>
